.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  font-family: "Montserrat Alternate", sans-serif;
  color: #2E6171;
}

.about-title {
  padding-top: 1em;
  padding-bottom: .5em;
  text-align: center;
}

.about-text {
  padding: 5%;
}

/* -- mobile */