.add-form {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat Alternate", sans-serif;
  color: #2E6171;
}

.browse-title {
  padding-top: 1em;
  padding-bottom: .3em;
  text-align: center;
}

.form-section {
  width: 100%;
  padding-top: 10px;
}

#details-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 14px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: space-between;
}

.recipe-form input {
  padding: 1em;
  margin: 10px;
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #2E6171 !important;
}

.side-by {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

#time, #serves {
  width: 45%;
}

.add-rec-btn {
  align-self: center;
  margin-top: 1em;
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 4px;
  font-family: "Montserrat Alternate", sans-serif;
  background-color: #2E6171;
  color: #FAFAFA;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#decimal-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#whole-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity-input {
  display: flex;
  flex-direction: column;
}

#measurement {
  padding: 1em;
  margin: 10px;
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  color: #2E6171 !important;
}

#quantity-select {
  padding: 1em;
  margin: 10px;
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  color: #2E6171 !important;
  width: 90%;
}

.add-ingredient-btns {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.add-ingredient-btns > button {
  margin-bottom: 1em;
  padding: 0.5em;
}

#add-ing-title {
  margin: 0 10px 10px 10px;
}
#ingredient-data {
  padding: 0 1em 1em;
}
/* mobile */