/* .browse-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
  font-family: 'Great Vibes', cursive;
}

.search-tools-button {
  border-radius: 8px;
  border-color: black;
  padding: 0 0 1em 0;
  background-color: #ADD7F6;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 100px;
  font-size:large;
  height: 1em;
}

#filter-tools {
  display: flex;
  flex-direction: row;
}

#search-tools {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
} */

.browse-options {
  margin-top: 6%;
  display: flex;
  justify-content: center;
}