h2 {
  font-family: 'Great Vibes';
  font-weight: bold;
  font-size: 50px;
  padding: 40px 10px;
}

h3 {
  font-family: 'Great Vibes';
  font-weight: bold;
  font-size: 28px;
}
.recipe-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 0;
}
.recipe-ingredients {
  display: flex;
  flex-direction: row;
}

.ingredients, .instructions {
  padding: 0 3% 2%;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.break {
  width: 20px;
  background-color: #2E6171;
}

.favourites-option {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.favourites-button {
  border-radius: 25px;
  padding: 1em 2em;
  background-color: #ADD7F6;
  font-weight: 700;
}