h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: #AFF9C9;
  justify-content: center;
}

.codex {
  width: 100%;
  text-decoration: underline;
  margin-left: -5%;
}

.epi {
  width: 100%;
  text-decoration: overline;
  margin-left: 5%;
  margin-top: 1px
}