h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #AFF9C9;
  justify-content: center;
  position: relative;
}