.mobile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 900;
  position: fixed;
  width: 100%;
  background-color: #FAFAFA;
  top: 0px;
  padding-top: 10px; 
  /* margin-bottom: 12px; */
  height: 64px;
  border-bottom: solid;
  border-width: 4px;
  border-color: #2E6171;
}

.mobile-header-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.mobile-header-items > h1{
  margin-bottom: 10px;
  font-family: 'Monserrat Alternates', sans-serif;
  color: #2E6171;
}