.login {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #E3F2FD;
  padding: 1em;
  font-family: 'Monserrat Alternates', sans-serif;
  color: #2E6171;
}

.login > h2 {
  
  font-weight: 100 !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: dashed;
  font-family: 'Monserrat Alternates', sans-serif !important;
  margin: 5%;
}

.login-form > input {
  margin: 5%;
}

.submit-register {
  margin: 1em;
}