.my-recipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-family: "Montserrat Alternate", sans-serif;
  color: #2E6171; 
}

.my-recipes-title {
  padding-top: 1em;
  padding-bottom: .5em;
  text-align: center;
}

.my-recipes-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}