.my-recipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-family: "Montserrat Alternate", sans-serif;
  color: #2E6171; 
}

.my-recipes-title {
  padding-top: 1em;
  padding-bottom: .5em;
  text-align: center;
}

.my-recipes-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-options {
  padding-top: 4%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat Alternate", sans-serif;
  color: #2E6171;
}

.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  margin: 1em;
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 4px;
  font-family: "Montserrat Alternate", sans-serif;
  background-color: #2E6171;
  color: #FAFAFA;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}