.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ADD7F6;
  
}

.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 52px;
  padding-left: 10px;
  padding-right: 10px;
  border-right-color: #2E6171;
  border-right-style: solid;
  border-right-width: 10px;
  border-left-color: #2E6171;
  border-left-style: solid;
  border-left-width: 10px;
  text-decoration: underline;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

