.recipe-list-item {
  border: solid;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  border-color: #2E6171;
  border-width: 3px;
  border-radius: 100px;
  margin: 3% 0 0 0;
  width: 90%;
  max-height: 300px;
}

.name-description {
  flex-direction: column;
  width: 60%;
  padding: 5% 0 3% 0;
  margin-left: 12%;
  align-items: start;
  font-size: 40px;
}

.name {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 2%;
  margin-right: 18%;
  border-bottom: solid;
  color:blueviolet;
}

.description {
  padding: 3%;
}


.details {
  margin-right: 12%;
  justify-content: space-between;
}
