/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  font-weight: 300;
}

:root {
  background-color: #FAFAFA;
  height: auto;  
  /* border-color: #2E6171;
  border-style: solid;
  border-width: 6px; */
  display: flex;
  flex-direction: column;
}

.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #AFF9C9; */
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  height: 60px;
  /* background-color: #AFF9C9; */
  justify-content: center;
  position: relative;
  font-family: 'Monserrat Alternates', sans-serif;
  color: #2E6171;

  /* font-weight: 200; */

}

/* h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: 'Great Vibes';
  font-weight: bold;
} */

@media (max-width: 480px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 480px) {
  .burger {
    display: none;
  }
}